<div style="text-align: center;">
  <div style="text-align: center; margin-top: 20px; background-color: #EFA30E; color: white;">
    <h1>〜使い方〜</h1>
  </div>
  <div class="left-tab-content" style="text-align: left; margin-top: 20px;">
    <h1 class="explanation-bullet">・添加物の検索</h1>
    <img src="<%= asset_path('how_to_1.png') %>" alt="pic" width="480px" height="400px" class="explanation-pic">
    <h1 class="explanation-bullet">・スキャンで添加物・アレルギーを読み取る</h1>
    <img src="<%= asset_path('how_to_2.png') %>" alt="pic" width="480px" height="400px" class="explanation-pic">
  </div>
  <a href="/additives">
    <button type="button" class="btn start" style="width: 120px; height: 32px; margin: 24px 0 32px 0; background-color: #EFA30E; color: white;">スタート</button>
  </a>
</div>
