<% if params[:query].present? %>
  <% (@additives + @allergens).each do |item| %>
    <% if item.name.downcase.include?(params[:query].downcase) %>
      <div class="card card-trip mb-3 od py-1 px-2" data-controller="enty-thinner" data-action="click->enty-thinner#dropdown">
        <div class="px-3 pt-3">
          <div class="d-flex justify-content-between align-items-center">
            <p class="pt-2 mb-0 fs-5">Name: <%= item.name.capitalize %></p>
          </div>
          <div class="overflow-container" data-enty-thinner-target="text">
            <p class="pt-2 mb-0 fs-5">Information: <%= item.information %></p>
          </div>
          <div class="overflow-container" data-enty-thinner-target="text">
            <% if @allergens.include?(item) && item.icon.present? %>
              <%= image_tag item.icon %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
