<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container pt-4">
      <h1>Index Page</h1>
      <p>Find me in 3000/additives</p>
    </div>
    <%= render "pages/navbar" %>
  </body>
</html>
