<!DOCTYPE html>
<html>
  <head>
    <title>Extracted Text</title>
  </head>
  <body>
    <h2>Extracted Text</h2>
    <div id="extracted-text-container">
      <% if @extracted_text.present? %>
        <%= @extracted_text %>
        <p>--------------------------------------------</p>
        <p>含まれる添加物:
          <% @matching_additives.each do |additive| %>
            <%= additive.name || additive.display_name %>
          <% end %>
        </p>
        <p>アレルギー:
          <% @matching_allergens.map { |allergen| allergen.icon }.uniq.each do |icon| %>
            <%= image_tag icon, class: "icon-smaller" %>
          </p>
        <% end %>
      <% else %>
        <p>No text found in the image.</p>
      <% end %>
    </div>
    <a href="/scans/new">Take another picture</a>
  </body>
</html>
