<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <%= render "additives/instruction" %>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
    <%= render "additives/search", additives: @additive %>
  </div>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false"> <i class="fa-solid fa-question"></i> 使い方</button>
    <button class="nav-link yellow-circular-tab upper-half" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" onclick="window.location.href='<%= scans_new_path %>'">
      <span><i class="fa-solid fa-camera fa-xl" style="color: #000000;"></i></span>
    </button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> <i class="fa-solid fa-magnifying-glass"></i> 検索</button>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // instruction のページを非表示にする
    document.getElementById("nav-home").classList.remove("show", "active");
    // ボタンをアクティブでない状態にする
    document.getElementById("nav-home-tab").classList.remove("active");
  });
</script>
