<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <style>
      /* カーソルインディケーターのスタイル変更 */
      #carouselExampleIndicators .carousel-indicators button {
        background-color: grey; /* インディケーターの色を変更 */
        border-color: white; /* ボーダーの色を変更 */
        height: 5px; /* インディケーターの高さを指定 */
        width: 30px; /* インディケーターの幅を指定 */
      }
      /* アクティブなカーソルインディケーターのスタイル変更 */
      #carouselExampleIndicators .carousel-indicators button.active {
        background-color: #5BB998; /* アクティブなインディケーターの色を変更 */
        border-color: white; /* アクティブなインディケーターのボーダーの色を変更 */
      }
    </style>
  </head>
  <body>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner d-flex align-items-center">
        <div class="carousel-item active">
          <img src="<%= asset_path('search.png') %>" class="d-block w-100" alt="search_icon">
          <div class="title1">
            <h1>添加物をすぐにチェック</h1>
            <p>商品の原材料名をスキャンして、含まれている添加物をすぐに調べることができます</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%= asset_path('allergy.png') %>" class="d-block w-100" alt="additives">
          <div class="title2">
            <h1>アレルギーもすぐにチェック</h1>
            <p>同時に含まれているアレルギーもチェックできます<br>
            <br></p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%= asset_path('check.png') %>" class="d-block w-100" alt="check">
          <div class="title3">
            <h1>どこでも使える食品判断ツール</h1>
            <p>外出先でもアプリを使って含まれる添加物やアレルギーを<br>
              確認し、より安全な食生活を送るツールとして使っていただけます。</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="red">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next w-80" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" style="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </body>
</html>
<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Index", scans_path %>
<%# ここから下はlanding page %>
