.card-header {
  margin-bottom: 0;
  background: $white;
}

.card-body {
  background: $white;
}

.cards-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  // background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8px);
  border: 0.5px solid white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin: 20px 15px;
  margin-top: 0px;
}

.card {
  // background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8px);
  border: 0.5px solid white;
  border-radius: 15px;
  // box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin: 20px 15px;
  background-color: $white;
}

.card-trip {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 8px;
}

.overflow-container {
  overflow: hidden;
  width: 100%;
  height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expanded-height {
  height: max-content;
  overflow: visible;
  white-space: normal;
}
