.carousel-item {
  img {
    padding: 48px;
  }
}

.title1,
.title2,
.title3 {
  h1 {
    padding-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin-top: 16px;
    font-size: 8px;
    max-width: 26em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.carousel-indicators {
  height: 20px;
}

/* カルーセルの矢印ボタンのスタイル変更 */
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  /* ボタンの幅を調整 */
  color: #3308ce;
  /* ボタンの色を変更 */
  border-radius: 50%;
  /* ボタンを円形にする */
}

/* 矢印アイコンの色変更 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #5BB998;
  /* 矢印の色を変更 */
  position: relative;
}

/* アクティブなボタンのスタイル変更 */
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  color: #2b17de;
  /* ホバー時やフォーカス時のボタンの色変更 */
}

.body {
  background-color: #e8faf2;

}

.wrapper>h1 {
  padding-top: 32px;
}

.welcome>h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper>img {
  border-radius: 9px;
}

.main {
  background: rgb(212, 235, 212);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-box1,
.landing-box2,
.landing-box3 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #000000;
  background: #c6e4ff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
  width: 240px;
  height: 240px;
  align-items: bottom;
  justify-content: center;
  text-align: center;
}


// 実験
// .landing-box1,
// .landing-box2,
// .landing-box3 {
//   position: relative;
//   margin: 2em 0;
//   padding: 0.5em 1em;
//   border: solid 3px #95ccff;
//   border-radius: 8px;
// }
// .box26 .box-title {
//   position: absolute;
//   display: inline-block;
//   top: -13px;
//   left: 10px;
//   padding: 0 9px;
//   line-height: 1;
//   font-size: 19px;
//   background: #FFF;
//   color: #95ccff;
//   font-weight: bold;
// }
// .box26 p {
//   margin: 0;
//   padding: 0;
// }


// boxのアニメーションの設定
.fadeUp {
  animation-name: fadeUpAnime;
  /*アニメーションの定義名*/
  animation-duration: 1s;
  /*アニメーション変化時間 ※デフォルト*/
  animation-fill-mode: forwards;
  /*アニメーションの開始と終了時の状態を指定*/
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// boxのアニメーションの設定
.landing-container p {
  margin: 0;
  padding: 0;
}

.landing-box1 {
  animation-duration: 1s;
}

.landing-box2 {
  animation-duration: 2s;
}

.landing-box3 {
  animation-duration: 3s;
}


/* スマートフォン用 */
@media only screen and (max-width: 767px) {
  /* ここにスマートフォン向けのスタイルを追加 */
}

/* タブレット用 */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* ここにタブレット向けのスタイルを追加 */
}

/* デスクトップ用 */
@media only screen and (min-width: 1025px) {
  /* ここにデスクトップ向けのスタイルを追加 */
}
