.nav-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border-top: 1px solid rgb(39, 31, 31);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 65px;
  position: fixed;
  /* Change 'sticky' to 'fixed' */
  bottom: 0;
  /* Change to '0' to stick it to the bottom */
  z-index: 99;
  border-bottom: 1.3em solid transparent;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  z-index: 200;
}



#nav-tab .nav-link.active {
  // Settings to overide Bootstrap, when tab *is* active
  background-color: #ece4e4;
}

#nav-tab .nav-link {
  // Settings to overide Bootstrap, when tab is *not* active
  color: black;
}

.tab-content>.tab-pane {
  // To fix bottom of content from being covered by navbar
  padding-bottom: 80px;
}






// Custom CSS for the full circle tab
.yellow-circular-tab {
  background-color: rgb(239, 163, 14); // Set the background color to yellow
  border-radius: 50%; // Make it a full circle by setting the border radius to 50%
  width: 60px; // Adjust the width as needed for the desired size
  height: 60px; // Set the height to control the position of the tab
  position: relative; // Set the position to relative for positioning
  z-index: 2; // Ensure it appears above the content
}

// Adjust the top and left properties to control the positioning of the tab
.yellow-circular-tab.upper-half {
  top: -40px; // Move the tab up to position the upper half above content
  left: 5%; // Adjust left to center the tab
  border: 1px solid rgb(39, 31, 31);
  transform: translateX(-50%); // Center horizontally
  border-radius: 50%;
}

// Style the text inside the tab
.yellow-circular-tab span {
  position: absolute;
  top: 50%; // Center vertically
  left: 50%; // Center horizontally
  transform: translate(-50%, -50%); // Center text

}
